@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .icon {
    @apply h-10;
  }
}

/*
@layer components {
  .card {
    @apply relative;
  }
  .card::after {
    @apply bg-gradient-to-b from-transparent via-yellow-500 to-transparent
           h-20 w-[2px] absolute -left-[2px] top-[60%] opacity-0
           content-[""]
           ease-in-out duration-300

  }
  .card:hover::after {
    @apply top-[25%] opacity-100
  }
}
*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  background-color: white;
  background-color: ghostwhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
